<div class="col-sm-10 mat-elevation-z1">
    <div class="col-lg-12" style="align-items: center">
        <table class="table table-sm" style="color:rgb(63, 101, 151)">
            <thead>
                <tr>
                    <th>
                        <h1>{{ posted }}</h1>
                    </th>
                    <th>
                        <h1>{{ ugdCount }}</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>POSTED</p>
                    </td>
                    <td>
                        <p>UPGRADE(S)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12" style="margin-top:20px">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td style="color:green">
                        <h6>Addons</h6>
                    </td>
                    <td>
                        <h6 style="float:right">{{ addonsCount }}</h6>
                    </td>
                </tr>
                <tr>
                    <td style="color:#2E7FB6">
                        <h6>Pending</h6>
                    </td>
                    <td>
                        <h6 style="float:right">{{ pending }}</h6>
                    </td>
                </tr>
                <tr>
                    <td style="color:red">
                        <h6>8555</h6>
                    </td>
                    <td>
                        <h6 style="float:right">{{ tentative }}</h6>
                    </td>
                </tr>
                <tr>
                    <td style="color:grey">
                        <h6>Canceled</h6>
                    </td>
                    <td>
                        <h6 style="float:right">{{ canceled }}</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 campaignsPackagesSection">
            <mat-label class="campaignsPackagesCount">
                <h6>CAMPAIGNS</h6>
            </mat-label>
            <table class="table table-sm" style="margin-top:10px">
                <tbody>
                    <tr *ngFor="let title of campaignCount">
                        <td style="color:green">
                            <h6>{{ title['name'] }}</h6>
                        </td>
                        <td>
                            <h6 style="float:right">{{ title['count'] }}</h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="col-lg-12 campaignsPackagesSection">
        <mat-label class="campaignsPackagesCount">
            <h6>PACKAGES</h6>
        </mat-label>
        <table class="table table-sm" style="margin-top:10px">
            <tbody>
                <tr *ngFor="let title of packageCount">
                    <td style="color:green">
                        <h6>{{ title['name'] }}</h6>
                    </td>
                    <td>
                        <h6 style="float:right">{{ title['count'] }}</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>